body {
    font-family: Tahoma;
    background: #00b7ff;
    margin: 0;
    background-image: url(../img/snow4.png);
}
h1 {
    cursor: help;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 3px solid #032d3d;
}
form {
    margin: 0 auto;
    background: rgba(50, 243, 144, 0.77);
    width: 450px;
    height: 500px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
}
.group {
    margin: 10 px;
    padding: 5px;
}
label {
    padding-left: 10px;
    text-transform: uppercase;
}